body {
    background-color: #fbfaf9 !important;
}

#header-photo {
    height: 200px;
    width: 320px;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;

}

.container-fluid {
    margin-top: -5px !important;
    margin-bottom: -5px;
    background-color: black !important;
    padding: 2px;
   }
  
   #navbar2 {
    background-color: black !important;
   }
  
   .navbar-brand {
    background-color: black !important;
    color: white !important;
   }
   .navbar-toggler {
    background-color: white !important;
   }
  
   .navbar-toggler-icon {
    background-color: white !important;
   }
  
   .nav-link {
    color: white !important;
    margin-top: 10px;
   }
  
   #navlogo {
    border-radius: 40%;
   }

   #notice {
    text-align:center;
    margin-left: 600px;
    margin-right: 600px;
   }

   @media only screen and (min-device-width: 375px) and (max-device-width: 812px) { 
    #header-photo {
        margin: auto;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
    #notice {
        text-align: center !important;
        align-items: center !important;
        justify-content: center !important;
        margin-left: 20px !important;
        margin-right: 20px !important;        
    } 
}

@media only screen and (min-device-width: 800px) and (max-device-width: 1200px){
    #notice {
        text-align: center !important;
        align-items: center !important;
        justify-content: center !important;
        margin-left: 200px !important;
        margin-right: 200px !important;        
    } 
}