/*#simpleandcomplex {
    color: rgb(0, 179, 255);
    text-align: center;
    text-shadow: 2px 2px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: xxx-large;
} */

body {
    background-color: #fbfaf9 !important;
}

#header-photo {
    height: 200px;
    width: 320px;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;

}

.container-fluid {
    margin-top: -5px !important;
    margin-bottom: -5px;
    background-color: black !important;
    padding: 2px;
   }
  
   #navbar2 {
    background-color: black !important;
   }
  
   .navbar-brand {
    background-color: black !important;
    color: white !important;
   }
   .navbar-toggler {
    background-color: white !important;
   }
  
   .navbar-toggler-icon {
    background-color: white !important;
   }
  
   .nav-link {
    color: white !important;
    margin-top: 10px;
   }
  
   #navlogo {
    border-radius: 40%;
   }

   .frame {
    width: 600px;
    /*height: 40px; */
    margin: 0 auto;
    margin-bottom: 100px;
  }
  
    iframe {
      display: block;
    } 

    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
        .frame {
            width: 100%;
        }
    }